.roleCard {
    padding-top: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.roleName {
    color: #98edff;
    font-weight: bolder;
    font-size: 1.1em;
}


.roleName.spy {
    font-size: 1.4em;
    color: red;
}
