.App {
  text-align: center;
  background-color: lightsteelblue;
  height: 100%;
  font-size: 30px;
}

button {
  font-size: 24px;
}

input {
  font-size: 24px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.stretch {
  width: 95%;
  height: 95%;
}

.location {
  font-size: 32px;
  text-align: center;
  background-color: red;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

h3 {
  color: black;
  margin: 0px;
  font-size: 32px;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.timer {
  font-size: 50px;
  font-weight: bolder;
}
